table {
    margin: auto;
    margin-top: 10px; 
}

.cell {
    display: block;
    margin: 1px 1px 0 0;
}

.cell--alive {
    background: green;
}

.cell--dead {
    background: rgb(201, 201, 201);
}

button, input {
    border: 1px solid grey;
    background: 0;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.4);
    margin-right: 10px;
}

input {
    width: 80px;
}

button.button--start {
    border:1px solid green; 
    width:100px;
}

button.button--start:hover {
    background: green;
    color: white;
}

button.button--stop {
    border:1px solid red; 
}

button.button--stop:hover {
    background: red;
    color: white;
}

button.button--disabled {
    background: rgb(201, 201, 201);
    border: 1px solid grey;
    color: white;
}

button.button--disabled:hover {
    background: rgb(201, 201, 201);
    cursor: default;
}

button.button--reset {
    border: 1px solid blue;
}

button.button--reset:hover {
    background: blue;
    color: white;
}
