<button (click)="start()" [disabled]="isRunning()">Start</button>
<button (click)="stop()" [disabled]="!isRunning()">Stop</button>
<span *ngIf="isRunning()">running...</span>
<p></p>
Set generation duration: <input [(ngModel)]="generationDuration">ms.
<p></p>

<table>
    <tr *ngFor="let gridRow of gridBox.elements" style="height: 23px">
        <td 
            *ngFor="let gridElement of gridRow"
            style="width: 23px"
            (click)="gridElement.isAlive = !gridElement.isAlive">
            <div *ngIf="gridElement.isAlive" style="background: rgb(69, 216, 69)">&nbsp;</div>
            <div *ngIf="!gridElement.isAlive" style="background: rgb(202, 201, 201)" >&nbsp;</div>
        </td>
    </tr>
</table>
