<p>Set generation duration: <input [(ngModel)]="generationDuration">ms.</p>
<button
    (click)="start()"
    [ngClass]="{'button--start': true, 'button--disabled': isRunning()}"
    >{{ isRunning() ? 'running...' : 'Start' }}</button>
<button
    (click)="stop()"
    [ngClass]="{'button--stop': true, 'button--disabled': !isRunning()}"
    >Stop</button>

<button 
    (click)="stop(); initGridBox()"
    class="button--reset">Reset Grid</button>

<table>
    <tr *ngFor="let gridRow of gridBox.elements">
        <td 
            *ngFor="let gridElement of gridRow"
            (click)="gridElement.isAlive = !gridElement.isAlive">
            <div [ngClass]="
                            {'cell': true,
                             'cell--alive': gridElement.isAlive,
                             'cell--dead': !gridElement.isAlive}"
                 [ngStyle]="{'width': cellHeightWidth(),
                             'height': cellHeightWidth()}"></div>
        </td>
    </tr>
</table>
